<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.jeongjaeyong.donbeolja.v2discoverycanaryautodeploy</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>/Users/jeongjaeyong/Projects/donbeolja/ops/launchd/run_v2_discovery_canary_autodeploy.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/jeongjaeyong/Projects/donbeolja</string>

    <!-- Every 30 minutes -->
    <key>StartInterval</key>
    <integer>1800</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/jeongjaeyong/Projects/donbeolja/ops/launchd/v2_discovery_canary_autodeploy.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/jeongjaeyong/Projects/donbeolja/ops/launchd/v2_discovery_canary_autodeploy.err.log</string>
  </dict>
</plist>
