<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.jeongjaeyong.donbeolja.server</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>/Users/jeongjaeyong/Projects/donbeolja/ops/launchd/run_server.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/jeongjaeyong/Projects/donbeolja</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/jeongjaeyong/Projects/donbeolja/ops/runtime/server.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/jeongjaeyong/Projects/donbeolja/ops/runtime/server.err.log</string>
  </dict>
</plist>
