<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.jeongjaeyong.donbeolja.v3paper</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>/Users/jeongjaeyong/Projects/donbeolja/ops/launchd/v3/run_v3_paper_cycle.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/jeongjaeyong/Projects/donbeolja</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>HOME</key>
      <string>/Users/jeongjaeyong</string>
      <key>LANG</key>
      <string>en_US.UTF-8</string>
      <key>PATH</key>
      <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
      <key>NODE_BIN</key>
      <string>/opt/homebrew/bin/node</string>
      <key>V3_PAPER_CYCLE_LOCK_TTL_SEC</key>
      <string>900</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>180</integer>

    <key>ProcessType</key>
    <string>Background</string>

    <key>StandardOutPath</key>
    <string>/Users/jeongjaeyong/Projects/donbeolja/ops/runtime/v3_paper_cycle.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/jeongjaeyong/Projects/donbeolja/ops/runtime/v3_paper_cycle.err.log</string>
  </dict>
</plist>
