<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jeongjaeyong.donbeolja.v5liqcollector</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/jeongjaeyong/Projects/donbeolja/ops/launchd/v3/run_v5_liquidation_collector.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/jeongjaeyong/Projects/donbeolja</string>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>StandardOutPath</key>
  <string>/Users/jeongjaeyong/Projects/donbeolja/ops/runtime/v5_liq_collector.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/jeongjaeyong/Projects/donbeolja/ops/runtime/v5_liq_collector.err.log</string>
</dict>
</plist>
