<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jeongjaeyong.donbeolja.v3readywatch</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/jeongjaeyong/Projects/donbeolja/ops/launchd/v3/run_v3_readiness_watch.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/jeongjaeyong/Projects/donbeolja</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key><integer>9</integer>
      <key>Minute</key><integer>7</integer>
    </dict>
    <dict>
      <key>Hour</key><integer>21</integer>
      <key>Minute</key><integer>7</integer>
    </dict>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/jeongjaeyong/Projects/donbeolja/ops/runtime/v3_readiness_watch.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/jeongjaeyong/Projects/donbeolja/ops/runtime/v3_readiness_watch.err.log</string>
</dict>
</plist>
