<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jeongjaeyong.donbeolja.v3backup</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/jeongjaeyong/Projects/donbeolja/ops/launchd/v3/run_v3_ledger_backup.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/jeongjaeyong/Projects/donbeolja</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>3</integer>
    <key>Minute</key><integer>47</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/jeongjaeyong/Projects/donbeolja/ops/runtime/v3_backup.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/jeongjaeyong/Projects/donbeolja/ops/runtime/v3_backup.err.log</string>
</dict>
</plist>
