<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key><string>com.jeongjaeyong.donbeolja.shadowlane</string>
	<key>ProgramArguments</key>
	<array><string>/bin/zsh</string><string>/Users/jeongjaeyong/Projects/donbeolja/ops/launchd/shadow/run_forced_exit_shadow_lane.sh</string></array>
	<key>RunAtLoad</key><false/>
	<key>StandardErrorPath</key><string>/Users/jeongjaeyong/Projects/donbeolja/ops/logs/shadowlane.err.log</string>
	<key>StandardOutPath</key><string>/Users/jeongjaeyong/Projects/donbeolja/ops/logs/shadowlane.out.log</string>
	<key>StartCalendarInterval</key><dict><key>Minute</key><integer>20</integer></dict>
</dict>
</plist>
